asn1crypto==0.24.0
cffi==1.11.5
click==6.7
cryptography==2.3.1
dnspython==1.15.0
enum34==1.1.6
eventlet==0.24.1
Flask==1.0.2
greenlet==0.4.15
idna==2.7
ipaddress==1.0.22
itsdangerous==0.24
Jinja2==2.10
MarkupSafe==1.0
monotonic==1.5
py-radix==0.10.0
pycparser==2.18
pyOpenSSL==18.0.0
python-engineio==2.2.0
python-socketio==2.0.0
six==1.11.0
Werkzeug==0.15.3
